.link {
  text-decoration: none;
  color: #d3ccc1;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.link:hover,
.link:active {
  color: #eeeeee;
  text-shadow: 0 0 18px rgba(95, 158, 160, 1);
}

.active {
  color: #eeeeee;
  text-shadow: 0 0 18px rgba(95, 158, 160, 1);
}
