.header {
  gap: 3rem;
  margin: 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: #ddd6cb;
  font-size: 1.5rem;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
}

.highlight {
  color: #50c878;
}

.main {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto 3rem;
  color: white;
}
